
.search {
    .swiper-slide{
        width: auto!important;
        border: 2px solid #eee;
        border-radius: 5px;
        padding:0;
    }
}

.popular-search {
    box-shadow: 0 1px 2px 0 RGB(17 17 17 / 15%);
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
}

input:checked+svg {
    display: block;
}