
.search {
    .swiper-slide{
        width: auto!important;
        // background: #ECECEC;
        border-radius: 5px;
    }
}

.popular-search {
    box-shadow: 0 1px 2px 0 RGB(17 17 17 / 15%);
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
}

input:checked+svg {
    display: block;
}

.Center {
     position: absolute;
     left: 50%;
     top: 50%;
     -webkit-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
}