:not(input) {
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  -webkit-tap-highlight-color: transparent !important;
}

.app {
  display: grid;
  place-items: center;
  height: 100%;
  transform-origin: 0% 0%;
  position: relative;
  max-width: 1200px !important;
}


.app__body {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
}

@media(min-width: 1000px) {
  .app__body {
    background-color: transparent;
    box-shadow: none;
  }
.app {
  background: transparent;
}
}

.loader__container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app .MuiCircularProgress-svg {
  transform: scale(2.5);
}

@media (max-width: 760px) {
  .app__body {
      display: block;
      position: relative;
      border-radius: 0;
      border-top: none;
  }
}

