@import "src/variables.scss";

.sidebar{
    background: $dark-gradient;
    z-index: 99;
   
    a.active {
        color:$orange;
    }
    a {
        color:$gray;

        &:hover{
            color:$orange;  
        }
    }
      
}

.link-marketplace{
    background: $orange;
}

.header{
    display: none;
}

.footer{
    display: none;
}



@media screen and (min-width: 768px) {
    .swiper-container {
        width: 768px;
    }
}

@media screen and (min-width: 1040px) {
    .swiper-container {
        width: 1040px;
    }
}

@media screen and (max-width: 360px) {
    .swiper-container {
        width: 305px;
    }
}

.card-item{
    box-shadow: $box-shadow-card;
}

button {
    padding: 5px 12px 7px 12px !important;
}