@import "src/variables.scss";

.sidebar{
    background: $dark-gradient;
    box-shadow: $dark-shadow;
    z-index: 99;
   
    a.active {
        color:$orange;
    }
    a {
        color:$gray;

        &:hover{
            color:$orange;  
        }
    }
      
}

