@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "src/variables.scss";

body {
  background: $background-light !important;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
.custom-line,.custom-line2, .custom-line3{
  position: relative;
  z-index: 2;
}
.custom-line::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0.5rem;
  left: 0;
  right: 0;
  width: 100%;
  color: rgb(52, 104, 52);
  background-color: rgb(121, 121, 121);
  height: 1px;
  display: flex;
}
.custom-line3::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0.5rem;
 
  right: -50%;
  width: 100%;
  color: rgb(52, 104, 52);
  background: $background-light;
  height: 1px;
  display: flex;
}
.custom-line2::before {
  content: "";
  position: absolute;
  top: 0.5rem;
  left: 0;
  right: 0;
  width: 100%;
  z-index: -1;
  height: 1px;
  display: flex;
}
.form-container {
  height: 100vh;
  position: fixed;
  z-index: 99999999999999999999999999999999999999999999999;
  top: 0;
  width: 100%;
  background-color: $background-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  .form-wrapper {
    button{
      width:100px
    }
    display: flex;
    flex-direction: column;
    width: 98%;
    margin: auto;
    margin-bottom: 3rem;
    border-radius: 5px;
    padding: 30px;
    padding-top: 4rem;
    padding-bottom: 4rem;
    button {
      padding: 5px;
      border: 0.5px solid #bbf7e4;
      background-image: linear-gradient(415deg, #edf9f5 0%, #f8fffc 74%);
    }
  }
}
.checkout-steps{
  display: flex;
  justify-content: space-between;
  width: 40rem;
  margin: 1rem auto;
}
.checkout-steps > div{
  border-top: .3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1 1;
  padding-top: 1rem ;
}
.checkout-steps > div.active{
  border-top: .3rem #f08000 solid;
  color: #f08000;
}

@font-face {
  font-family: "Camphor";
  src: url('./assets/fonts/Camphor/camphor.woff2')
      format("woff2"),
    url('./assets/fonts/Camphor/camphor.woff')
      format("woff"),
    url('./assets/fonts/Camphor/camphor.ttf')
      format("truetype"),
    url('./assets/fonts/Camphor/camphor.svg')
      format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Camphor", "Open Sans", "Segoe UI", "sans-serif" !important;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Camphor", "Open Sans", "Segoe UI", "sans-serif" !important;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

//UI that changes the color for the scrollbar
body {
  ::-webkit-scrollbar {
    width: 0.7em;
    height: 0.1em;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #909090;
    border-radius: 5px;

  &:hover {
    background: #cccc;
  }
  }
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis!important;
}

.vertical-center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

//Border Radius for comments and reviews.
.border-box {
  border: 1px solid #dddddd !important;
  border-radius: 12px !important;
}

//Select Field Style 
.Selection:after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 viewBox%3D%220 0 24 24%22%3E%3Cpolygon fill%3D%22%23222222%22 points%3D%2216.5 10 12 16 7.5 10 16.5 10%22%2F%3E%3C%2Fsvg%3E");
  width: 24px;
  height: 24px;
  pointer-events: none;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 16px !important;
  background: white !important;
  box-shadow: $shadow-product !important;
  border-radius: 100px;
  color: $black;
  opacity: 100!important;
  padding: 5px 10px !important;
  z-index:100!important;
  border: 1px solid rgb(221, 221, 221) !important;
}
