@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "src/variables.scss";

body {
  background: $background-light !important;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
// .custom-line::before {
//   content: "";
//   position: absolute;
//   top: 0.5rem;
//   left: 2.1rem;
//   margin-left: 1rem;
//   margin-right: 1rem;
//   width: 9rem;
//   color: green;
//   background-color: gray;
//   height: 1px;
// }
// .custom-line2::before {
//   content: "";
//   position: absolute;
//   top: 0.5rem;
//   left: 2.1rem;
//   margin-left: 1rem;
//   margin-right: 1rem;
//   width: 9rem;
//   color: green;
//   background-color: gray;
//   height: 1px;
// }
// @media screen and(max-width:640px){
//   .custom-line2::before {
//     content: "";
//     position: absolute;
//     top: 0.5rem;
//     left:0;
//     width: 100%;
//     height: 1px;
//   }
//   .custom-line::before {
//     content: "";
//     position: absolute;
//     top: 0.5rem;
//     left:0;
//     width: 100%;
//     background-color: gray;
//     height: 1px;
//   }

// }



@font-face {
  font-family: "Camphor";
  src: url("https://lenx.co.uk/wp-content/fonts/Camphor%20W01%20Regular/CamphorW01-Regular.woff2")
      format("woff2"),
    url("https://lenx.co.uk/wp-content/fonts/Camphor%20W01%20Regular/CamphorW01-Regular.woff")
      format("woff"),
    url("https://lenx.co.uk/wp-content/fonts/Camphor%20W01%20Regular/CamphorW01-Regular.ttf")
      format("truetype"),
    url("https://lenx.co.uk/wp-content/fonts/Camphor%20W01%20Regular/CamphorW01-Regular.svg")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Camphor", "Open Sans", "Segoe UI", "sans-serif" !important;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Camphor", "Open Sans", "Segoe UI", "sans-serif" !important;
}
